# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python (Lambda build cache)
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / Editor files
.DS_Store
Thumbs.db
